/** CSS STYLE **/
*{
  margin-top:0;
  margin-left:0;
}

:root{
  /*colors*/
  --white:#fff;
  --white-translucent:#d7ccc0;
  --light:#f5f4f0;
  --basic:#fe8a02;
  --basic-dark:#42413c;
  --dark:#2a2626;
  --dark-translucent:#908d8b;
  --brown:#b09a81;
  --blue:#1085c5;

  --shadow-button: #EA7600;


  /*font*/
  --line-height-font:1.6em;
  --font-size:16px;

  /*heading*/
  --line-height-h:1.2em;
  --h1-size:72px;
  --h2-size:60px;
  --h3-size:34px;

  --menu_font-size:52px;
  --menu_size-number:64px;

  /*sections*/
  --width-content:1110px;
  --padding-content-vertical:100px
}

@font-face{
  font-family:"OpenSans-Regular";
  src:url("Fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face{
  font-family:"OpenSans-Bold";
  src:url("Fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face{
  font-family:"Neucha";
  src:url("Fonts/Neucha/Neucha-Regular.ttf");
}

/*-------------------------------------BASIC SETTING--------------------------------*/
body{
  margin: 0;
  overflow-x: hidden;
}
html{
  font-family:"OpenSans-Regular";
  line-height:var(--line-height-font);
  font-size:var(--font-size);
}
/*heading*/
h1,
h2,
h3{
  line-height:var(--line-height-h);
  font-family:"Neucha";
  font-weight: lighter;
  color: var(--basic);
}
h1{
  font-size:var(--h1-size);
}
h2{
  font-size:var(--h2-size);
}
h3{
  font-size:var(--h3-size);
}
/*-------------------------------------SHARED SETTINT------------------------------*/
.content{
  width: var(--width-content);
  padding: var(--padding-content-vertical) calc(50vw - var(--width-content) * 0.5);
}
/*color*/
.dark-color{
  color:var(--dark);
}
.white-color{
  color:var(--white);
}

.column-2{
  column-count: 2;
  column-gap: 30px;
}
.breake-before{
  break-before:column;
}
.font-size-24px{
  font-size: 24px;
}
.font-size_h3{
  font-size: var(--h3-size);
  line-height: var(--line-height-h);
}
/*-------------------------------------BACKGROUND-----------------------------------*/
.bg-img-light{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: var(--light);
  z-index: -3;
}
.bg-img-light::after{
  content: url(Img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 10%; 
  position:absolute;
  top:0;
  left:0;
  display: block;
  margin:0 calc(50vw - 720px);
  z-index: -2;
}
.bg-img-dark{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: var(--brown);
  z-index: -3;
}
.bg-img-dark::after{
  content: url(Img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 10%; 
  position:absolute;
  top:0;
  left:0;
  display: block;
  margin:0 calc(50vw - 720px);
  z-index: -2;
}
.bg-dark{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: var(--basic-dark);
  z-index: -3;
}

/*----------------------------------HEADER------------------------------------------*/
header img{
  position: absolute;
  top: 55px;
  right: 120px;
  height: 525px;
  z-index: -1;
}
header article{
  margin-top: 195px;
}
.header_article__margin-bottom{
  margin-bottom: 45px;
}
header article a{
  font-family:"OpenSans-Bold";
  color: var(--white);
  text-decoration: none;
  background: var(--basic);
  padding: 12px 24px;
}
header article a:hover{
  background: var(--shadow-button);
}
/*--------------------------------------MAIN----------------------------------------*/
main{
  text-align: center;
  position: relative;
}
.video{
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  position:absolute;
  bottom: -100px;
  left: calc(50vw - 460px);
}
main h2{
  margin-top: 75px;
  margin-bottom: 30px;
}
main p{
  margin-bottom: calc(25px + 365px);
}

/*---------------------------------NAVIGATION---------------------------------------*/
 nav{
  position: relative;
}
.navigation_flex-conteiner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}
.navigation_flex-conteiner h2{
  font-size: 52px;
  width: 350px;
}
.card{
  background: var(--light);
  padding: 24px;
  width: calc(350px - 48px);
  text-decoration: none;
  display: block;
  color: var(--dark);
}
.card_number{
  font-family:"Neucha";
  font-size: 64px;
  line-height: 1em;
  margin-bottom: 40px;
}
.card_h{
  font-size: var(--h3-size);
  color: var(--basic);
  font-family:"Neucha";
  line-height: var(--line-height-h);
  margin-bottom: 10px;
}

.card:hover{
  background: var(--basic);
  color:var(--white);
}
.card:hover .card_h{
  color:var(--white);
}

.navigation_flex-conteiner div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 340px;
}
.navigation_flex-conteiner div:last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 350px;
}
.navigation_flex-conteiner div:first-child .card{
  height: calc(320px - 48px);
}
.navigation_flex-conteiner div:last-child .card{
  height: calc(350px - 48px);
}

/*---------------------------------IKEA-EFFECT--------------------------------------*/
#ikea-effect{
  position: relative;
}
#ikea-effect div:nth-child(2){
  font-family:"Neucha";
  column-gap: 100px;
}
#ikea-effect h3{
  background: var(--brown);
  font-family:"OpenSans-Bold";
  color:var(--white);
  font-size: 14px;
  padding: 5px 0px 5px 10px;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
}
#ikea-effect img{
  vertical-align: middle;
}
.margin{
  margin-bottom: 10px;
}
#ikea-effect h2{
  margin-bottom: 25px;
}
/*-----------------------------------PREMATURE OPTIMIZATION--------------------------*/
#premature-optimization{
  position: relative;
}
#premature-optimization div:nth-child(2){
  font-family:"Neucha";
}
#premature-optimization h3{
  background: var(--white);
  font-family:"OpenSans-Bold";
  color:var(--brown);
  font-size: 14px;
  padding: 5px 0px 5px 10px;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
}
#premature-optimization img{
  vertical-align: middle;
  margin-left: -40px;
}
.margin{
  margin-bottom: 10px;
}
#premature-optimization h2{
  margin-bottom: 25px;
}

/*--------------------------------DISTORTION OF NIVELTY------------------------------*/
#distortion-of-novelty{
  position: relative;
}
#distortion-of-novelty div:nth-child(2){
  font-family:"Neucha";
  column-gap: 100px;
}
#distortion-of-novelty h3{
  background: var(--brown);
  font-family:"OpenSans-Bold";
  color:var(--white);
  font-size: 14px;
  padding: 5px 0px 5px 10px;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
}
#distortion-of-novelty img{
  vertical-align: middle;
}
.margin{
  margin-bottom: 10px;
}
#distortion-of-novelty h2{
  margin-bottom: 25px;
}

/*-------------------------------HYPERBOLIC DEPRECIATION-----------------------------*/
#hyperbolic-depreciation{
  position: relative;
}
#hyperbolic-depreciation div:nth-child(2){
  font-family:"Neucha";
}
#hyperbolic-depreciation h3{
  background: var(--white);
  font-family:"OpenSans-Bold";
  color:var(--brown);
  font-size: 14px;
  padding: 5px 0px 5px 10px;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
}
#hyperbolic-depreciation img{
  vertical-align: middle;
  margin-left: -40px;
}
.margin{
  margin-bottom: 10px;
}
#hyperbolic-depreciation h2{
  margin-bottom: 25px;
}