/** CSS STYLE **/
*{
  margin-top:0;
  margin-left:0;
}
body{
  margin: 0;
}

:root{
  /*colors*/
  --white:#fff;
  --white-translucent:#d7ccc0;
  --light:#f5f4f0;
  --basic:#fe8a02;
  --basic-dark:#42413c;
  --dark:#2a2626;
  --dark-translucent:#908d8b;
  --brown:#b09a81;
  --blue:#1085c5;

  /*font*/
  --color-font:#2A2626;
  --line-height-font:1.6em;
  --font-size:16px;

  /*heading*/
  --line-height-h:1.2em;
  --h1-size:72px;
  --h2-size:60px;
  --h3-size:34px;

  /*sections*/
  --width-content:1110px;
  --padding-content-vertical:100px
}

@font-face{
  font-family:"OpenSans-Regular";
  src:url("Fonts/OpenSans/OpenSans-Regular.ttf");

  color:var(--color-font);
  line-height:var(--line-height-font);
  font-size:var(--font-size);

}
@font-face{
  font-family:"OpenSans-Bold";
  src:url("Fonts/OpenSans/OpenSans-Bold.ttf");

  color:var(--color-font);
  line-height:var(--line-height-font);
  font-size:var(--font-size);
}
@font-face{

  font-family:"Neucha";
  src:url("Fonts/Neucha/Neucha-Regular.ttf");

  color:var(--color-font);
  line-height:var(--line-height-font);
  font-size:var(--font-size);
}

/*-----------------------------------------HEADING---------------------------------*/
h1,
h2,
h3{
  line-height:var(--line-height-h);
}

h1{
  font-size:var(--h1-size);
  font-family:"Neucha";
  font-weight: lighter;
}
h2{
  font-size:var(--h2-size);
}
h3{
  font-size:var(--h3-size);
}

/*-----------------------------------------SECTIONS--------------------------------*/
.content{
  width:var(--width-content);
  padding:var(--padding-content-vertical) 0;
  margin-left: auto;
  margin-right: auto;
  
}

/*---------------------------------------HEADER-----------------------------------*/
.basic-color{
  color:var(--basic);
}
header{  
  width: 100vw;
  height: 100vh;
  background: var(--light);
  z-index: -3;

  position: relative;
}
.header_columns-2{
  font-family:"OpenSans-Regular";
  /*
  column-count: 2;
  column-width: 540px;
  column-gap: 30px;
  */
  width:var(--width-content);
  height: 170px;
  margin-top: 45px;
  line-height: var(--line-height-font);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.column{
  width: 540px;
}
.header_main-img{
  position: absolute;
  top: 45px;
  left: 700px;
  width: 1095px;
  z-index: -1;
}
.header_button{
  margin-top: 20px;
  background: var(--basic);
  border: none;
  padding: 12px 24px;
}
.header_button_a{
  color:var(--white);
  font-family:"OpenSans-Bold";
  font-size: var(--font-size);
  text-decoration: none;
  
}
/*---------------------------------------BACKGROUND IMG---------------------------*/
/*
.background-img{
  width: 100vw;
  height: 100vh;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  /*position: absolute;*/
  /*
  background: var(--light);
  z-index: -3;
  */



.background-img::after{
  content: url(Img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 10%; 
  position:absolute;
  top:0;
  left:0;
  display: block;
  margin:0 calc(50vw - 720px);
  z-index: -2;
}

